<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829287119522-j8gepqvnea0i99h0k0uol0tl3s0rtkuj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829287119522-j8gepqvnea0i99h0k0uol0tl3s0rtkuj</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ7rc5LaYa0lOkhfbR2pJBwqDSkdhllVA</string>
	<key>GCM_SENDER_ID</key>
	<string>829287119522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fbarsotti.risuscito</string>
	<key>PROJECT_ID</key>
	<string>risuscito-e2b53</string>
	<key>STORAGE_BUCKET</key>
	<string>risuscito-e2b53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829287119522:ios:ef1f3fc7fb370535f035fb</string>
</dict>
</plist>